extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- Dynamically add the project title
        h1=project.project_name

        //- Use interpolation to dynamically add the project description
        p= project.description

        //- Dynamically add tech 
      .project-tech-links-box.box
        h6 Technologies
        ul
          each tech in project.technologies 
            li= tech 

        //- Dynamically add the links for each project 
        if project.live_link
          a.btn-link(href=project.live_link) Live Demo
        if project.github_link
          a.btn-link(href= project.github_link) GitHub Repo

      //- Dynamically add images to projects 
      .project-img-box.box
       each img, index in project.image_urls
        img.project-img(src=img, alt=`Image ${index + 1} for ${project.project_name}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
